.heading {
	
	font-family:"Billabong", Gadget, sans-serif;
	
	z-index: 4;
	top: 0;
	
}


.pic {
	border-radius: 50%;
	
	margin-bottom:  -13%;
}





.infos{
	color: black;
	font-family: serif;
}

@media only screen and (max-width: 600px) {
  .pic {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1280px) {
  
  .infos {
    font-size: 15px;
  }
  
}