.heading {
	
	font-family:"Billabong", Gadget, sans-serif;
	position: relative;
	z-index: 4;
	top: 
	
}


.pic {
	border-radius: 50%;
	
	margin-bottom:  -13%;
}

img{
	max-height: 150;
	max-width: 300;
}



.infos{
	color: black;
	font-family: serif;
}